BODY { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: black; margin:0; padding:0; margin-left : 6.0pt; margin-right : 6.0pt; }

#moo { margin-left: 12.0pt;}

H1  { font-family: Arial, Helvetica, sans-serif; font-size: 14pt; color: #000033; margin-left: -12.0pt; margin-top: 12.0pt; margin-bottom: 6.0pt;}
H2  { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #000033; margin-left: -12.0pt; margin-top: 12.0pt; margin-bottom: 6.0pt;}
H3  { font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #000033; margin-left: -12.0pt; margin-top: 12.0pt; margin-bottom: 6.0pt;}
H4  { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000033; margin-left: -12.0pt; margin-top: 12.0pt; margin-bottom: 6.0pt;}

A:link    { color: #2786BA; }
A:visited { color: #50525C; }
A:hover   { color: #ff0000; background-color: #ffffff; }

OL    { margin: 0; margin-top: 4px; margin-bottom: 4px; padding:0; padding-left:28px; font-size: 14px;}
UL    { margin: 0; margin-top: 4px; margin-bottom: 4px; padding:0; list-style:none; }
LI    { margin: 0; padding:0;}
UL LI { margin: 0; padding-left:20px; background:url(bullet.png); background-repeat:no-repeat; background-position:-9px 0px;}
UL OL LI { padding:0; background-image:none;}

UL.default > LI { margin: 0; padding-left:20px; background:url(bullet.png); background-repeat:no-repeat; background-position:-11px 0px;}
UL.disc > LI {margin-left: 12.0pt; padding-left:4px; background-image: none; list-style:disc;}
UL.circle > LI {margin-left: 12.0pt; padding-left:4px; background-image: none; list-style:circle;}
UL.square > LI {margin-left: 12.0pt; padding-left:4px; background-image: none; list-style:square;}

DL.syntax DT { font-weight:bold;   font-family: "Courier New", monospace; }
DL.notsyntax DT { font-weight:normal; font-family: Arial, Helvetica, sans-serif; }
DL.dlg DT {font-weight: bold;}
DL.args DT {font-weight: bold; font-family: "Courier New", monospace;}

P { margin-top: 4px; margin-bottom: 4px; font-size: 14px; }
P.title { font-family: "Times New Roman"; font-size: 24.0pt; font-style: italic; font-weight: bold; color: #000000; margin-left: -12.0pt; margin-top: 12px;}
P.rulename { color: navy; font-size: 13.0pt; font-weight: bold; }
P.rulemsg { color: navy; font-size: 11.0pt; font-weight: bold; }
P.spaced {margin-top:10px;}
P.spaced + ul {margin-bottom:10px;}

/* P.note, DIV.note, UL.note */
.note { margin-top: 8px; margin-bottom: 8px; background-color: #DDDDDD; border: 1px solid #BBBBBB; padding: 5px;}
OL.note     { background-color: #DDDDDD; border: 1px solid #BBBBBB; padding: 5px; padding-left: 27px;}
OL > P > SPAN.emphasis {margin-left:-20px;}

P.syntax, PRE {
	margin: 8px 8px 8px 0;
	padding: 3px 10px;

	color: black;
	background-color:#F3F3F6;
	font-family: "Courier New", monospace;
	font-size: 14px;
	border: 1px dashed #2F6FAB;
	outline: 1px dashed #2F6FAB;
	overflow: auto;
}
TD > PRE { margin: 4px; }

TABLE     { margin-top: 8px; margin-bottom: 4px;}
TD        { vertical-align: middle;}
TD.left   { text-align: left; }
TD.center { text-align: center; }
TD.right  { text-align: right; }
TD.bold   { font-weight: bold; }

TABLE.deftbl   { margin-bottom: 0px; padding: 3px; border-style: none; }
TD.deftblleft  { vertical-align: top; text-align: left; padding-right: 3px; border-style: none; font-weight: bold; white-space: nowrap; }
TD.deftblright { vertical-align: top; text-align: left; padding-left: 3px; border-style: none; }

TABLE.ruletbl  { padding: 7px; border: 1px solid navy; border-collapse: collapse; }
TD.ruletblleft { vertical-align: middle; text-align: center; padding: 3px; border: 1px solid navy; font-weight: bold; }
TD.ruletblright { vertical-align: top;    text-align: left;   padding: 3px; border: 1px solid navy; }

TD.stripes     { vertical-align: top; padding: 3px; }
TD.stripeshead { background-color: #DDDDFF; border-bottom: 5px double black; border-top: 5px double black; }
TD.stripesodd  { background-color: #EEFFFF; border-bottom: 1px solid black; }
TD.stripeseven { background-color: #EEEEFF; border-bottom: 1px solid black; }

TABLE.gray  { border-collapse: separate; border: 1px double #BBbbBB; font-size: 14px; }
TD.grayhead { background-color: #DDDDDD; font-weight: bold; font-size: 16.0px; }
TD.gray       { padding: 3px; border: 1px solid  #BBbbBB; }
TD.graymiddle { padding: 3px; border: 1px solid  #BBbbBB; }
TD.mono { font-family: "Courier New", monospace; font-size: 14px; }
TD.left { text-align: left;}

TABLE.perlapi      { width: 650px; border: 1px solid #BBbbBB; font-size: 10.0pt; border-collapse:separate; border-spacing:1px 1px; }
TD.perlapiheadcol  { width: 150px; padding: 3px; border: 1px solid #BBbbBB;}
TD.perlapiheadcol2 { width: 225px; padding: 3px; border: 1px solid #BBbbBB; }
TD.perlapicol      { border: 1px solid #BBbbBB; }

TABLE.bg   { font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal;  color: #757575; }

A.code        { font-family: "Courier New", monospace; }
SPAN.code     { font-family: "Courier New", monospace; }
SPAN.gui      { font-weight: bold; }
SPAN.path     { font-style: italic; }
SPAN.quote    { font-style: italic; }
SPAN.emphasis { font-weight: bold; }

SPAN.COMMENT   { color: #008000; font-style: italic; }
SPAN.DIRECTIVE { color: #BB3333; }
SPAN.TCLVAR    { color: #FF8000; }
SPAN.KEYWORD   { color: #0000FF; }
SPAN.LIBKEYWORD{ color: #8800AA; }
SPAN.LABEL     { color: #BB3333; }
SPAN.NUMBER    { color: #777777; }
SPAN.PROTECTED { color: #999999; }
SPAN.STRING    { color: #777777; }
SPAN.TIME      { color: #777777; }
SPAN.TASKFUNC  { color: #BB3333; }
SPAN.ATTRB     { font-weight: bold; }
SPAN.VHTYPE    { font-weight: bold; }

SPAN.keyboard {font-size:11px; font-weight: bold; margin:0; padding-left:3px; padding-right:3px; padding-top:0; background-color:#fff; border: 1px solid #828280;}
SPAN.system   {font-weight: bold; color: #808080;}
SPAN.done     {text-decoration: line-through;}

/* banner with links*/
div.header {
  overflow:hidden; width:100%;
  background-color:#007FB1;
  font-family: Verdana, Arial, Helvetica, sans-serif; font-size:9px;
  margin: 0; margin-top:4px; padding-top:3px; padding-bottom:5px; padding-left:3px;
}
div.header div.textlinks  { float:left; color:white; margin-left:3px; }
div.header div.arrowlinks { float: right; width:40px; }
A.banner:link     { color: #ffffff; font-size: 9px; }
A.banner:visited  { color: #ffffff; font-size: 9px; }
A.banner:active   { color: #00deff; font-size: 9px; }
A.banner:hover    { color: #000000; font-size: 9px; background-color: #eeeeee; }

/* footer */
div.footer {clear:both; height:5px; width:100%;
  font-size:10px; font-family: Verdana, Arial, Helvetica, sans-serif;
  background:url("footbg.gif"); background-repeat:repeat-x; background-position:0 0;
  margin: 0; margin-top:8px; padding-top:8px
}
div.footer div.company {float:left; margin-left:3px; color: #777; padding-bottom:12px}
div.footer div.company span.title {font-weight:bold; }
div.footer div.logo {float: right; width:255px; height:95px; background:url("footlogo.gif"); background-repeat:no-repeat; background-position:0 0; margin-right:10px;}
A.contact:link    { color: #0EABC3; font-size: 10px; }
A.contact:visited { color: #001000; font-size: 10px;}
A.contact:active  { color: #00ff00; font-size: 10px;}

.find { background-color:#A3CBF4; color:#000000; }
.centered { text-align: center;}

#results { font-size: 11px }
#pages { font-size: 11px; display:block; border-top:dotted 1px #555555; border-bottom:dotted 1px #555555; margin-top:5px; margin-bottom:5px; padding-top:5px; padding-bottom:5px; }
#search_title { font-size : 15px; font-weight : bold; color : #70828C; margin-right: 5pt; }
#prompt { font-size : 14.0px; color : #0077B4;}
.help_title { display: inline; }
.highlight { background-color:#FAEBAD; }
#search_help { font-size : 0.8em; display:block; border-bottom:dotted 2px #555555; padding-bottom:5px; }
#search_help .definition { font-size : 1em;	font-style : normal; font-weight: bold; color: #04333D; }
#search_help .word { font-style : italic; color : #0077B4;}
#search_help #example { font-weight: bold; margin-top:5px; display:block;  color: #6A001B;}
#search_help .example_text { margin-top:2px; margin-bottom:5px; display:block;}
.ex { font-style : italic; color: #6A001B; }

/* COLORS*/
.blue {color:blue;}
.green {color:green;}
.red {color:red;}
